/* NAVBAR */
.logout {
  border: none;
  padding: 0;
  background: none;
}

/* HIKE INDEX PAGE */
.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.hikeCard {
text-align: center;
max-width: 30%;
height: auto;
}

.hikeCard img {
  max-width: 100%;
  height: auto;
}

.hikeCard a {
  text-decoration: none;
  color: black;
}

.hikeCard a:hover {
  color: grey;
}

/* HIKE SHOW PAGE */
.showPage {
text-align: center;
margin-bottom: 20px;
}

.showPage img {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.showPage h3 {
  margin: 20px;
}

.deleteBtn {
  margin-top: 10px;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

/* HIKE EDIT NEW  */
#hikeEditNewContainer {
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  max-width: 70%;
  height: auto;
  margin: 0 auto;
}

.hikeInput {
  width: 80%;
}

.form-group {
  text-align: center;
}

.form-check {
  text-align: center;
  margin-bottom: 15px;
}

#hikeEditNewContainer button {
  display: block;
  margin: 20px auto;
}

#hikeEditNewContainer h2 {
  text-align: center;
}
