/* NAVBAR */
.logout {
  border: none;
  padding: 0;
  background: none;
}

/* HIKE INDEX PAGE */
.grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.hikeCard {
text-align: center;
}

.hikeCard img {
  max-width: 30%;
  height: auto;
}

/* HIKE SHOW PAGE */
.showPage {
text-align: center;
}

.showPage img {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.showPage h3 {
  margin: 20px;
}
